<div id="main">
  <div class="header">
    <h1>User</h1>
    <h2><%= current_user.name.to_s.humanize %><h2>
  </div>

  <div class="content">
    <div class="ul" >
      <ul class="profile">          
        <li class="infor">Your Score: <%= current_user.score %></li>
        <li class="infor">Your Rank: <%= @ranknumber %></li>
        <li class="infor">Accept Counter: <%= @number %></li>
      </ul>
    </div>
  </div>

  <div>
    <% @submissions.each_with_index do |s, i| %>
      <%= render_question(@submit_questions[i]) %>
      <%= render_answer(s, @submit_questions[i]) %>
      <%= render_point_get(s, @submit_questions[i]) %>
      <%= s.created_at.localtime.to_s(:db) %>
      <br>
    <% end %>
  </div>
<br><br>
  <div>
    <% @questions.each_slice(5) do |q_row| %>
      <% q_row.each do |q| %>
        <% if @judges[q.id] == 1 %>
          <%= link_to "%04d" % q.id, question_path(q) %>
        <% else %>
          <%= link_to "%03d" % q.id, question_path(q) %>
        <% end %>
      <% end %>
      <br>
    <% end %>
  </div>
</div>
