<div id="main">
  <div class ="header">
    <h1>Log In</h1>
    <h2>Linkin' Your Facebook</h2>
    <% flash.each do |name,msg|%>
      <h2><%= msg %></h2>
    <% end %>
  </div>   
  <div class="content">
    
    <div id="left-half">
      <form>
        <br/>
        <%= link_to "Facebook Login", user_facebook_omniauth_authorize_path, :id => "submit-facebook"%>
      </form>
    </div>
    
    <div id="right-half">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.label :email, "Administrator : " , :class => "login-label"%>
        <%= f.email_field :email, autofocus: true, :id => "admin", :class => "login-blank", :maxlength => "16" %>
        <br/><br>
        <%= f.label :password , "Password : ", :class => "login-label" %>
        <%= f.password_field :password, autocomplete: "off", :id => "admin-password", :class => "login-blank", :maxlength => "16"  %>
        <br/><br/>
        <%= f.submit "Administrator Login", :id => "submit-admin" %>
      <% end %>
    </div>
  </div>
</div>