<div class="header">
  <h1>Problem Set</h1>
  <h2><%= @category.name %></h2>
  <% flash.each do |name,msg|%>
    <h2><%= msg %></h2>
  <% end %>
</div>
<div class="content">
  <ul class="Set">
    <% @category.questions.each do |question| %>
      <% if new_or_not(question) <= 3 %>
        <%= content_tag(:li, class: "Set") do %><%= link_to question.title, question_path(question) %> <% end %>
      <% else %>
        <li class="Set"><%= link_to question.title, question_path(question) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<%= link_to "Back to Problem Set",categories_path %>

