<!DOCTYPE html>
<html>
  <head>
    <title>CSIENight</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  	<div id="main_content">
			<div class="sidebar">
				<ul>
					<li class="category">Home</li>
					<li><%= link_to "Latest News", root_path %></li>
				</ul>
				<ul>
					<li class="category">Category</li>
					<li><%= link_to "Category", categories_path %></li>
				</ul>
				<ul>
					<li class="category">User</li>
					<li>
						<% if user_signed_in? %>
                <%= link_to "會員登出", destroy_user_session_path, :method => :delete %>
              <% else %>
                <%= link_to "會員登入", new_session_path(:user) %>
                <%= link_to "Facebook 快速登入", user_facebook_omniauth_authorize_path %>
              <% end %>
					</li>
					<li>
						<% if user_signed_in? %>
                <%= link_to "會員資料" , edit_user_registration_path %>
              <% else %>
                <%= link_to "會員註冊", new_user_registration_path %>
              <% end %>
					</li>
					<li><% if user_signed_in? %><%= current_user.score %><%end%></li>
				</ul>
				<ul>
					<li><%= link_to "Rank",rank_index_path %></li>
				</ul>
			</div>

				<% flash.each do |name,msg|%>
					<div class = "alert"><%= msg %></div>
				<% end %>
		
	    <%= yield %>
	  </div>
  </body>
</html>
