<!DOCTYPE html>
<html>
  <head>
    <title>CSIENight</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  	<div id="main_content">
			<div class="sidebar">
				<ul>
					<li class="category">Question</li>
					<li><%= link_to "Question", root_path %></li>
				</ul>
				<ul>
					<li class="category">User</li>
					<li>
						<% if user_signed_in? %>
                <%= link_to "會員登出", destroy_user_session_path, :method => :delete ,:class => "header_navlink w-nav-link"%>
              <% else %>
                <%= link_to "會員登入", new_session_path(:user), :class => "header_navlink w-nav-link" %>
              <% end %>
					</li>
					<li>
						<% if user_signed_in? %>
                <%= link_to "會員資料" , edit_user_registration_path, :class => "header_navlink w-nav-link" %>
              <% else %>
                <%= link_to "會員註冊", new_user_registration_path, :class => "header_navlink w-nav-link"%>
              <% end %>
					</li>
					<li><% if user_signed_in? %><%= current_user.score %><%end%></li>
					
				</ul>
				<ul>
					<li><%= link_to "NewQuestion",new_question_path %></li>
				</ul>

			
				
			</div>


				
				<% flash.each do |name,msg|%>
					<div class = "alert"><%= msg %></div>
				<% end %>
		
	    <%= yield %>
	  </div>
  </body>
</html>
